# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Dice-And-Retry.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Théo Ferreira\Documents\GitHub\Dice-And-Retry\.idea\.idea.Dice-And-Retry\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
